
<div class="row">
    <div class="col-3"></div>
    <div class="col-3" style="font-size:64px;">
        <NavLink class="capelli_navlink" href="Home" Match="NavLinkMatch.All">
            🎁
        </NavLink>
    </div>
    <div class="col-3" style="font-size:64px;">
        <NavLink class="capelli_navlink" href="Others">
            👪
        </NavLink>
    </div>
    <div class="col-3"></div>
</div>
