@inherits LayoutComponentBase

<main class="container">

        <article style="text-align:center;margin-top:20px;min-height:90vh;" data-theme="light">
            @Body

            <footer>
                <NavMenu />
            </footer>
        </article>

</main>
