@layout NavlessLayout
@page "/Register"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;

<div class="container">
    <h1 class="page-title">Register</h1>
    @if(!enrolled) {
        <label>Email Address</label>
        <input type="text" @bind="username" @bind:event="onchange" class="form-control" />

        <label>Password</label>
        <input type="password" @bind="password" @bind:event="onchange" class="form-control" />

        <br>

        @if(!isLoading && !enrolled) {
            <button class="btn btn-santa" @onclick="RunLogin">Register</button>
        } else {
            <button class="btn btn-santa" disabled ><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Signing up...</button>
        }
    } else {
        <p>Thanks for registering! Please login</p>
        <p><a href="/" class="btn btn-lg btn-santa">Go To Login</a></p>
    }
</div>


@code {
    private string username;
    private string password;
    private bool isLoading = false;
    private bool enrolled = false;

    private async Task RunLogin() {
        isLoading = true;
        string resp = await JSRuntime.InvokeAsync<string>("registerUser", username.ToLower(), password);
        enrolled = true;
        isLoading = false;
    }

}