
<div class="santa-grid santa-grid-2">
    <NavLink role="button" href="Lists" Match="NavLinkMatch.All" class="outline">
        <span class="material-symbols-outlined">home</span>
    </NavLink>

    <a role="button" class="secondary" onclick="logout()">
        <span class="material-symbols-outlined">logout</span>
    </a>
</div>