
<div class="santa-grid santa-grid-2">
    <NavLink role="button" href="Lists" Match="NavLinkMatch.All">
        <span class="material-symbols-outlined">featured_seasonal_and_gifts</span>
    </NavLink>

    <a role="button" class="secondary" onclick="logout()">
        <span class="material-symbols-outlined">logout</span>
    </a>
</div>