@keyframes ctr_spin_rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

:root {
    font-size: 22px;
    --gsky-bg-primary: #A20025;
    --gsky-bg-secondary: #333;
    --gsky-text-primary: #fff;
    --gsky-globalsize: 4rem;
}

.main {
    margin-bottom: var(--gsky-text-primary)
}

.anisanta {
    animation: ctr_spin_rotation 2s infinite linear;
    display:block;
    height:50vh;
    margin-top:25vh;
    background-color: #fff; 
    border-radius: 100px; 
    padding:50px;
}

.ctr_spin_parent {
    display: grid;
    place-items: center;
    width: 100%;
    resize: both;
    overflow: hidden;
    height:100vh;
}
.ctr_spin_child {
    padding:1rem;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
    height:100vh;
}
.ctr_ctr_child {
    margin-top:25vh;
    text-align:center;
    overflow: hidden;
    padding:10px;
    vertical-align: middle;
    width: 100%;
    height:100vh;
}

.btn-santa {
    background-color: var(--gsky-bg-primary);
    color: var(--gsky-text-primary);
    text-align:center;
    width:100%;
    padding:5px;
    margin-top:10px;
    margin-bottom:10px;
}

.btn-santa-base {
    background-color:  var(--gsky-bg-primary);
    color:var(--gsky-text-primary);
    text-align:center;
    padding:5px;
    margin-top:10px;
    margin-bottom:10px;
}

.page-title {
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
}

.container {
    background-color: var(--gsky-text-primary);
    min-height:120vh;
}

.content {
    margin-bottom: var(--gsky-text-primary);
}

.navbar {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height:var(--gsky-text-primary);
    background-color: var(--gsky-bg-secondary);
}

.navbar-nav {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    height: var(--gsky-text-primary);
    color: var(--gsky-text-primary);
}

.nav-item {
    width:100%;
}

.nav-link svg {
    min-width: 3rem;
    margin: 0 1.5rem;
    color: var(--gsky-text-primary);
}